<!DOCTYPE HTML>
<!--
  Retrospect by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="landing">

    <!-- Header -->
      <header id="header" class="alt">
        <h1><a href="index.html">PT Pods</a></h1>
        <a href="#nav">Menu</a>
      </header>

    <!-- Nav -->
      <nav id="nav">
        <ul class="links">
          <li><a href="index.html">Home</a></li>
          <li><a href="generic.html">FAQs</a></li>
          <li><a href="elements.html">Contact</a></li>
        </ul>
      </nav>

    <!-- Banner -->
      <section id="banner">
        <i class="icon fa-diamond"></i>
        <h2>Private mini gym pods</h2>
        <p>Less time waiting, more efficient workouts.</p>
        <ul class="actions">
          <li><a href="#" class="button big special">Learn More</a></li>
        </ul>
      </section>

    <!-- One -->
      <section id="one" class="wrapper style1">
        <div class="inner">
          <article class="feature left">
            <span class="image"><img src="images/pic01.jpg" alt="" /></span>
            <div class="content">
              <h2>Your own private mini gym</h2>
              <p>(unless you invite your friends of course!).  It may sound expensive but it's not.  PT PODS want to eradicate people not attending gyms due to lack of experience, waiting times or intimidating environments.  We offer all the equipment you need, with exercise routines for all levels and preferences to follow along to via our widescreen TVs. Whether you are an Olympic athlete or a complete newbie to exercise a session with a PT can always set you in the right direction.</p>
              <ul class="actions">
                <li>
                  <a href="#" class="button alt">Love it - Sign me Up</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="feature right">
            <span class="image"><img src="images/pic02.jpg" alt="" /></span>
            <div class="content">
              <h2>How it works?</h2>
              <p>Book a pod and choose a video workout to follow along to, go to your pod location and enjoy your gym experience, it is as simple as that.  Train, leave and repeat.  Most importantly, you can have one all to yourself as each pod features a drop-down wall, so you can choose to train in private or have it open for a more social, class experience.  </p>
              <ul class="actions">
                <li>
                  <a href="#" class="button alt">More</a>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </section>

    <!-- Two -->
      <section id="two" class="wrapper special">
        <div class="inner">
          <header class="major narrow">
            <h2>Can I jump in between sets?</h2>
            <p>Forget crowded hectic gyms and waiting for equipment. With PT PODS it’s your gym when and where ever you want it. 
</p>
          </header>
          <div class="image-grid">
            <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
            <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
            <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
            <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
          </div>
          <ul class="actions">
            <li><a href="#" class="button big alt">Like what you see?</a></li>
          </ul>
        </div>
      </section>

    <!-- Three -->
      <section id="three" class="wrapper style3 special">
        <div class="inner">
          <header class="major narrow ">
            <h2>What do we provide?</h2>
            <p>Your own personal gym, in a spacious comfortable container near you.  Book a class online, what video to follow along to, share with a friend and let them join.</p>
            <br/>
            <p>We offer Guided, engaging, friendly workout plans for those with all levels of experience.  A consistency, clean, accountable, familiar experience no matter when and where.  The experience of gym, with the intimacy and convenient of a home workout.</p>
            <p>Remote connectivity for those looking to train together/ to train each other - Group PT workouts in remote location with proper high end equipment.  Your very own personal gym when and where you need it. </p>
            <br/>
            <p>Calm and controlled training environment to allow for maximum presence, reassurance, and ability to focus on what you’re actually there to do.</p>
            <p>MAYBE LIST EQUIPMENT SPEC?</p>
          </header>
        </div>
      </section>

    <!-- Four -->
      <section id="four" class="wrapper style2 special">
        <div class="inner">
          <header class="major narrow">
            <h2>Get in touch</h2>
            <p>Train in your own time, in your own way.</p>
          </header>
          <form action="#" method="POST">
            <div class="container 75%">
              <div class="row uniform 50%">
                <div class="6u 12u$(xsmall)">
                  <input name="name" placeholder="Name" type="text" />
                </div>
                <div class="6u$ 12u$(xsmall)">
                  <input name="email" placeholder="Email" type="email" />
                </div>
                <div class="12u$">
                  <textarea name="message" placeholder="Message" rows="4"></textarea>
                </div>
              </div>
            </div>
            <ul class="actions">
              <li><input type="submit" class="special" value="Submit" /></li>
              <li><input type="reset" class="alt" value="Reset" /></li>
            </ul>
          </form>
        </div>
      </section>

    <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <ul class="icons">
            <li><a href="#" class="icon fa-facebook">
              <span class="label">Facebook</span>
            </a></li>
            <li><a href="#" class="icon fa-twitter">
              <span class="label">Twitter</span>
            </a></li>
            <li><a href="#" class="icon fa-instagram">
              <span class="label">Instagram</span>
            </a></li>
            <li><a href="#" class="icon fa-linkedin">
              <span class="label">LinkedIn</span>
            </a></li>
          </ul>
          <ul class="copyright">
            <li>&copy; PT Pods.</li>
          </ul>
        </div>
      </footer>

    <!-- Scripts -->
      <script src="js/jquery.min.js"></script>
      <script src="js/skel.min.js"></script>
      <script src="js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="js/main.js"></script>

  </body>
</html>
