<!DOCTYPE HTML>
<!--
  Retrospect by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="landing">

    <!-- Header -->
      <header id="header" class="alt">
        <h1><a href="index.html">PT Pods</a></h1>
        <a href="#nav">Menu</a>
      </header>

    <!-- Nav -->
      <nav id="nav">
        <ul class="links">
          <li><a href="index.html">Home</a></li>
          <li><a href="generic.html">FAQs</a></li>
          <li><a href="elements.html">Contact</a></li>
        </ul>
      </nav>

    <!-- Banner -->
      <section id="banner">
        <i class="icon">
            
                  <div id="logocontainer" onclick=fill()>
                    <div id="pelogo">PT</div>
                    <div class="loader" style="left:2vh; top:0; height:2vh; width:0; animation:slide1 1s linear forwards infinite"></div>
                    <div class="loader" style="right:0; top:2vh; width:2vh; height:0; animation:slide2 1s linear forwards infinite; animation-delay:0.5s"></div>
                    <div class="loader" style="right:2vh; bottom:0; height:2vh; width:0; animation:slide3 1s linear forwards infinite"></div>
                    <div class="loader" style="left:0; bottom:2vh; width:2vh; height:0; animation:slide4 1s linear forwards infinite; animation-delay:0.5s"></div>
                  </div>
        </i>
        <h2 class="tedz-special-text">Train on Demand</h2>
        <p>Comfortable, affordable, efficient workouts.</p>
        <ul class="actions">
          <li><a href="#" class="button big special">Learn More</a></li>
        </ul>
      </section>

    <!-- One -->
      <section id="one" class="wrapper style1">
        <div class="inner">
          <article class="feature left">
            <span class="image"><img src="images/blur-2.JPEG" alt="" /></span>
            <div class="content">
              <h2>Private Gym Pods</h2>
              <p>The future is here. PT PODS are private spaces with state-of-the-art gym equipment to be used at your convenience. Open your phone, find a POD, book it, smash it, done. It’s that simple! Whether you want to follow one of our friendly and engaging work out classes, have a live PT session or just do your own thing, PT PODS will provide you the space to do it.</p>
              <ul class="actions">
                <li>
                  <a href="#" class="button alt">Love it - Sign me Up</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="feature right">
            <span class="image"><img src="images/pic02.jpg" alt="" /></span>
            <div class="content">
              <h2>How it works? (Classes)</h2>
              <p>Decide when and where you want to train, go online and book a POD for your 1hr slot. Select your preferred type of training from the extensive range of exercise classes. Once the class is paid for you will receive a QR code that will open your POD during your 1 hr slot. Once in the POD your class will start and its over to you!</p>
              <ul class="actions">
                <li>
                  <a href="#" class="button alt">More</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="feature left">
            <span class="image"><img src="images/pic02.jpg" alt="" /></span>
            <div class="content">
              <h2>How it works? (PTs)</h2>
              <p>Decide when and where you want to train, go online and book a POD for your 1hr slot. Contact your preferred PT and they will receive a POD link. Once the session is paid for you will receive a QR code that will open your POD during your 1 hr slot. Once in the POD you will have live interaction with your chosen PT.</p>
              <ul class="actions">
                <li>
                  <a href="#" class="button alt">More</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="feature right">
            <span class="image"><img src="images/pic02.jpg" alt="" /></span>
            <div class="content">
              <h2>How it works? (Open Session)</h2>
              <p>Decide when and where you want to train, go online and book a POD for your 1hr slot. Once the session is paid for you will receive a QR code that will open your POD during your 1 hr slot. Step inside and do your thing!</p>
              <ul class="actions">
                <li>
                  <a href="#" class="button alt">More</a>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </section>

    <!-- Two -->
      <section id="two" class="wrapper special">
        <div class="inner">
          <header class="major narrow">
            <h2>The classes</h2>
            <p>How ever you train we have sometibng for you. Take a look below to get an idea. Still not sure? Why not book a PT session for some expert advice.</p>
          </header>
          <div class="image-grid">
            <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
            <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
            <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
            <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
          </div>
          <ul class="actions">
            <li><a href="#" class="button big alt">Like what you see?</a></li>
          </ul>
        </div>
      </section>

    <!-- Three -->
      <section id="three" class="wrapper style3 special">
        <div class="inner">
          <header class="major narrow ">
            <h2>PT Pods</h2>
            <p>No more early gym sessions to beat the crowds, train when you want.</p>
            <br/>
            <p>No more commuting to the gym because its close to work, train where you want.</p>
            <br/>
            <p>No more queuing for equipment, its your time.</p>
            <br/>
            <p>No more uncomfortable environments, its your private gym.</p>
            <br/>
            <p>No more barriers, its your life.</p>
          </header>
        </div>
      </section>

    <!-- Four -->
      <section id="four" class="wrapper style2 special">
        <div class="inner">
          <header class="major narrow">
            <h2>Get in touch</h2>
            <p>Train in your own time, in your own way.</p>
          </header>
          <form action="#" method="POST">
            <div class="container 75%">
              <div class="row uniform 50%">
                <div class="6u 12u$(xsmall)">
                  <input name="name" placeholder="Name" type="text" />
                </div>
                <div class="6u$ 12u$(xsmall)">
                  <input name="email" placeholder="Email" type="email" />
                </div>
                <div class="12u$">
                  <textarea name="message" placeholder="Message" rows="4"></textarea>
                </div>
              </div>
            </div>
            <ul class="actions">
              <li><input type="submit" class="special" value="Submit" /></li>
              <li><input type="reset" class="alt" value="Reset" /></li>
            </ul>
          </form>
        </div>
      </section>

    <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <ul class="icons">
            <li><a href="#" class="icon fa-facebook">
              <span class="label">Facebook</span>
            </a></li>
            <li><a href="#" class="icon fa-twitter">
              <span class="label">Twitter</span>
            </a></li>
            <li><a href="#" class="icon fa-instagram">
              <span class="label">Instagram</span>
            </a></li>
            <li><a href="#" class="icon fa-linkedin">
              <span class="label">LinkedIn</span>
            </a></li>
          </ul>
          <ul class="copyright">
            <li>&copy; PT Pods.</li>
          </ul>
        </div>
      </footer>

    <!-- Scripts -->
      <script src="js/jquery.min.js"></script>
      <script src="js/skel.min.js"></script>
      <script src="js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="js/main.js"></script>

  </body>
</html>
